<ul class="dropdown-menu">
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Acao">Ação</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Aventura">Aventura</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Comedia">Comédia Romântica</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Crime">Crime</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Documentario">Documentário</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Drama">Drama</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Familia">Família</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Fantasia">Fantasia</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Faroeste">Faroeste</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Ficcao">Ficção Científica</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Guerra">Guerra</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Historia">História</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Misterio">Mistério</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Musical">Musical</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Policial">Policial</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Romance">Romance</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Suspense">Suspense</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Terror">Terror</a></li>
    <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-g="Thriller">Thriller</a></li>
</ul>