<form method="get" enctype="multipart/form-data" asp-controller="Home" asp-action="Index" class="d-flex">
    <input name="q" value="@ViewBag.Pesquisa" class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
    <button class="btn btn-outline-success" type="submit"><span class="fa fa-search"></span></button>
</form>